<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - SB Admin</title>
    <link href="/css/User/userstyles.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/Index">Pikto</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
    </button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search"
                   aria-describedby="basic-addon2"/>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <form class="dropdown-item" action="/logout" method="post">
                    <input type="hidden" name="_csrf" value=""/>
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="profile-userpic">
                    <img src="https://scontent.fbma2-1.fna.fbcdn.net/v/t1.0-9/17796707_10155264022745159_8129848447376750595_n.jpg?_nc_cat=111&ccb=2&_nc_sid=174925&_nc_ohc=njmSzJq0HE8AX_RWY6P&_nc_ht=scontent.fbma2-1.fna&oh=ae2a9a187954f17fe489be1522d04e9e&oe=60448624"
                         class="img-responsive" style="display:block; margin: 0 auto; padding-top: 20px; ">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{userData.firstName}}
                        <div class="profile-usertitle-name">
                            {{userData.lastName}}
                            <div class="profile-usertitle-name">
                                {{userData.email}}
                                <div class="profile-usertitle-job">
                                    {{userData.mobileNr}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-userbuttons">
                    </div>
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Admin</div>
                        <a class="nav-link" href="http://localhost:8888/Admin">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="http://localhost:8888/Admin/Products">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Products
                        </a>
                        <a class="nav-link" href="http://localhost:8888/Admin/Users">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Users
                        </a>
                        <a class="nav-link" href="http://localhost:8888/Admin/Orders">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Orders
                        </a>
                        <a class="nav-link" href="http://localhost:8888/Admin/Reviews">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Reviews
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    {{userData.email}}
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Orders</h1>


                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Orders
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>OrderID</th>
                                    <th class="hide">UserId</th>
                                    <th class="hide">sessionId</th>
                                    <th>Status</th>
                                    <th class="hide">subTotal</th>
                                    <th class="hide">itemDiscount</th>
                                    <th class="hide">tax</th>
                                    <th class="hide">shipping</th>
                                    <th class="hide">total</th>
                                    <th class="hide">promo</th>
                                    <th class="hide">discount</th>
                                    <th>Grandtotal</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th class="hide">mobile</th>
                                    <th>Email</th>
                                    <th class="hide">address</th>
                                    <th class="hide">city</th>
                                    <th>Date</th>
                                    <th class="hide">content</th>

                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>OrderID</th>
                                    <th class="hide">UserId</th>
                                    <th class="hide">sessionId</th>
                                    <th>Status</th>
                                    <th class="hide">subTotal</th>
                                    <th class="hide">itemDiscount</th>
                                    <th class="hide">tax</th>
                                    <th class="hide">shipping</th>
                                    <th class="hide">total</th>
                                    <th class="hide">promo</th>
                                    <th class="hide">discount</th>
                                    <th>Grandtotal</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th class="hide">mobile</th>
                                    <th>Email</th>
                                    <th class="hide">address</th>
                                    <th class="hide">city</th>
                                    <th>Date</th>
                                    <th class="hide">content</th>

                                </tr>
                                </tfoot>
                                <tbody>
                                {{#allOrders}}
                                <tr>
                                    <td>{{orderId}}</td>
                                    <td class="hide">{{userId}}</td>
                                    <td class="hide">{{sessionId}}</td>
                                    <td>{{status}}</td>
                                    <td class="hide">{{subTotal}}</td>
                                    <td class="hide">{{itemDiscount}}</td>
                                    <td class="hide">{{tax}}</td>
                                    <td class="hide">{{shipping}}</td>
                                    <td class="hide">{{total}}</td>
                                    <td class="hide">{{promo}}</td>
                                    <td class="hide">{{discount}}</td>
                                    <td>{{grandTotal}}</td>
                                    <td>{{firstName}}</td>
                                    <td>{{lastName}}</td>
                                    <td class="hide">{{mobile}}</td>
                                    <td>{{email}}</td>
                                    <td class="hide">{{address}}</td>
                                    <td class="hide">{{city}}</td>
                                    <td>{{createdAt}}</td>
                                    <td class="hide">{{content}}</td>
                                </tr>
                                {{/allOrders}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="orderModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <form method="POST" action="/Admin/updateOrder" novalidate>
                    <div class="form-group row">
                        <label for="orderId" class="col-4 col-form-label">Order Id</label>
                        <div class="col-8">
                            <input id="orderId" name="orderId" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userId" class="col-4 col-form-label">User id</label>
                        <div class="col-8">
                            <input id="userId" name="userId" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sessionId" class="col-4 col-form-label">Session Id</label>
                        <div class="col-8">
                            <input id="sessionId" name="sessionId" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="status" class="col-4 col-form-label">Status</label>
                        <div class="col-8">
                            <input id="status" name="status" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="subTotal" class="col-4 col-form-label">Sub Total</label>
                        <div class="col-8">
                            <input id="subTotal" name="subTotal" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemDiscount" class="col-4 col-form-label">Item Discount</label>
                        <div class="col-8">
                            <input id="itemDiscount" name="itemDiscount" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tax" class="col-4 col-form-label">Tax</label>
                        <div class="col-8">
                            <input id="tax" name="tax" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="shipping" class="col-4 col-form-label">Shipping cost</label>
                        <div class="col-8">
                            <input id="shipping" name="shipping" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="total" class="col-4 col-form-label">Total</label>
                        <div class="col-8">
                            <input id="total" name="total" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="promo" class="col-4 col-form-label">Promotion</label>
                        <div class="col-8">
                            <input id="promo" name="promo" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="discount" class="col-4 col-form-label">Discount</label>
                        <div class="col-8">
                            <input id="discount" name="discount" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="grandTotal" class="col-4 col-form-label">Grand Total</label>
                        <div class="col-8">
                            <input id="grandTotal" name="grandTotal" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="firstName" class="col-4 col-form-label">First Name</label>
                        <div class="col-8">
                            <input id="firstName" name="firstName" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-4 col-form-label">Last name</label>
                        <div class="col-8">
                            <input id="lastName" name="lastName" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mobile" class="col-4 col-form-label">Mobile Number</label>
                        <div class="col-8">
                            <input id="mobile" name="mobile" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-4 col-form-label">Email</label>
                        <div class="col-8">
                            <input id="email" name="email" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-4 col-form-label">Address</label>
                        <div class="col-8">
                            <input id="address" name="address" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="city" class="col-4 col-form-label">City</label>
                        <div class="col-8">
                            <input id="city" name="city" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="createdAt" class="col-4 col-form-label">Date</label>
                        <div class="col-8">
                            <input id="createdAt" name="createdAt" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="content" class="col-4 col-form-label">Content</label>
                        <div class="col-8">
                            <input id="content" name="content" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <a id="deletebtn" class="btn btn-danger">Delete Event</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/Admin/scripts.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/js/Admin/datatables-orders.js"></script>
</body>
</html>
