<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - SB Admin</title>
     <link href="/css/User/userstyles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Main/animate.css">
    <link rel="stylesheet" href="/css/User/style.css">
    <link rel="stylesheet" href="/css/Main/media-queries.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        .modal-open .modal {
            overflow-x: hidden;
            overflow-y: auto;
            margin-left: 4%;
        }

        .logo {
            line-height: 60px;
            float: left;
            margin: 16px 46px;
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 2px;
        }

        .sb-sidenav-dark .sb-sidenav-menu .nav-link {
            color: white;
        }

        .bg-dark {
            background-color: black !important;
        }

        .card-columns {
            column-count: 1;
        }
    </style>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <div class="logo">
        <a href="http://localhost:8888/Index/"><img style="float: left; margin-right: 1%;" src="/img/pikto.png"
                                                    width="100"/></a>
    </div>

    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#" onclick='clicked()'><i
            class="fas fa-bars"></i></button>
    <div class="d-md-inline-block ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <a href="http://localhost:8888/login?logout">
            <button type="button" class="btn btn-default btn-sm"
                    style="color:black; background-color:white; margin-right:1.5em;">
                Log out
            </button>
        </a>
    </div>
</nav>
<!-- Navbar-->

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">

                <div class="profile-userpic">
                    <img src="{{userData.pictureUrl}}" class="img-responsive"
                         style="display:block; margin: 0 auto; margin-top: 20px; ">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{userData.firstName}} {{userData.lastName}}
                    </div>
                    <div class="profile-userbuttons">
                    </div>
                    <div style="background-color:white; width:100%; height:0.3em; margin-top:50px;">

                    </div>
                    <div class="nav">
                        <a class="nav-link" href="http://localhost:8888/User">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="http://localhost:8888/User/Checkout">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Cart
                        </a>
                        <a class="nav-link" href="http://localhost:8888/User/Purchases">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Purchased images
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <p data-toggle="modal" data-target="#editModal" style="float:left;"><i class="fas fa-cog"
                                                                                           style="margin-right:5px"></i>Settings
                    </p>

                </div>

            </div>
        </nav>
    </div>
</div>
<div id="layoutSidenav_content">
    <div class="container" style="margin-top: 5%; margin-left: 28%;">
        <div class="row">
            <div class="card-columns">
                {{#userOrders}}
                <div class="card">
                    <h4 class="card-title" style="color:black; display:none;">{{title}}</h4>
                    <h6 style="display:none;" id="idProduct" >{{productId}}</h6>
                    <div class="card-body">
                        <img src="{{productUrl}}" alt="Italian Trulli">
                    </div>
                    <div class="card-footer">
                        <a href="{{productUrl}}" download>
                            <button type="button" class="btn btn-info"><i class="fa fa-download"></i>Download</button>
                        </a>
                        <button type="button" class="btn btn-success" data-toggle="modal" id="toggleModal" data-target="#addReview">Review
                        </button>
                    </div>
                </div>
                {{/userOrders}}
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <form method="POST" action="/User/updateUser" novalidate>
                    <div class="form-group row">
                        <label for="userId" class="col-4 col-form-label">User id</label>
                        <div class="col-8">
                            <input id="userId" name="userId" type="text" class="form-control"
                                   value="{{userData.userId}}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title" class="col-4 col-form-label">Firstname</label>
                        <div class="col-8">
                            <input id="Firstname" name="firstName" type="text" class="form-control"
                                   value="{{userData.firstName}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="summary" class="col-4 col-form-label">Lastname</label>
                        <div class="col-8">
                            <input id="Lastname" name="lastName" type="text" class="form-control"
                                   value="{{userData.lastName}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mobileNr" class="col-4 col-form-label">Phonenumber</label>
                        <div class="col-8">
                            <input id="mobileNr" name="mobileNr" type="text" class="form-control"
                                   value="{{userData.mobileNr}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-4 col-form-label">Email</label>
                        <div class="col-8">
                            <input id="email" name="email" type="text" class="form-control" value="{{userData.email}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pictureUrl" class="col-4 col-form-label">Profilepicture</label>
                        <div class="col-8">
                            <input id="pictureUrl" name="pictureUrl" type="text" class="form-control"
                                   value="{{userData.pictureUrl}}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>

            <div style="background-color:black; width:100%; height:0.7em;">

            </div>
            <div class="modal-header">
                <h5 class="modal-title">Change password</h5>
            </div>
            <div class="modal-body" id="modalBody">
                <form method="POST" action="/User/NewPassword" novalidate>

                    <div class="form-group row" style="display:none;">
                        <label for="userId" class="col-4 col-form-label">username</label>
                        <div class="col-8">
                            <input id="userId" name="username" type="text" class="form-control" value="{{userData.email}}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="userId" class="col-4 col-form-label">Old password</label>
                        <div class="col-8">
                            <input id="userId" name="oldpassword" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title" class="col-4 col-form-label">New password</label>
                        <div class="col-8">
                            <input id="Firstname" name="newpassword" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="addReview">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="reviewModalBody">
                <form method="POST" action="/User/addReview" id="reviewForm">
                    <div class="form-group row" hidden>
                        <label for="r_productId" >ProductId</label>
                        <input id="r_productId" name="productId" type="text" class="form-control">
                    </div>
                    <div class="form-group row">
                        <label for="r_title">Title</label>
                        <input id="r_title" name="title" type="text" class="form-control">
                    </div>
                    <div class="form-group row">
                        <label for="r_title">Rating</label>
                        <select class="form-control" id="Rating" name="rating" type="text" form="reviewForm">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group row" style="display:none;">
                        <label for="r_createdAt">Created At</label>

                        <input id="r_createdAt" name="createdAt" type="text" class="form-control">

                    </div>
                    <div class="form-group row">
                        <label for="r_content">Review text</label>

                        <input id="r_content" name="content" type="text" class="form-control">
                    </div>
                    <div class="form-group row" style="display:none;">
                        <label for="r_userId">User id</label>

                        <input id="r_userId" name="userId" type="number" value="{{userData.userId}}"
                               class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>




           <script src="/js/Admin/jquery.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                    crossorigin="anonymous"></script>
            <script src="/js/Admin/scripts.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
                    crossorigin="anonymous"></script>
            <script src="/js/Admin/chart-area-demo.js"></script>
            <script src="/js/Admin/chart-bar-demo.js"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
                    crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"
                    crossorigin="anonymous"></script>

<script>
    $("#toggleModal").click(function () {
        var id = $("#idProduct").text();
        $("#r_productId").val(id);
    });



    function clicked() {

        var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
        $("#layoutSidenav_nav .sb-sidenav a.nav-link").each(function () {
            if (this.href === path) {
                $(this).addClass("active");
            }
        });


        $("body").toggleClass("sb-sidenav-toggled");

    }
</script>
</body>
</html>
