<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - SB Admin</title>
    <link href="/css/User/userstyles.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="admin.html">Start Bootstrap</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
    </button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search"
                   aria-describedby="basic-addon2"/>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <form class="dropdown-item" action="/logout" method="post">
                    <input type="hidden" name="_csrf" value=""/>
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="profile-userpic">
                    <img src="https://scontent.fbma2-1.fna.fbcdn.net/v/t1.0-9/17796707_10155264022745159_8129848447376750595_n.jpg?_nc_cat=111&ccb=2&_nc_sid=174925&_nc_ohc=njmSzJq0HE8AX_RWY6P&_nc_ht=scontent.fbma2-1.fna&oh=ae2a9a187954f17fe489be1522d04e9e&oe=60448624"
                         class="img-responsive" style="display:block; margin: 0 auto; padding-top: 20px; ">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{userData.firstName}}
                        <div class="profile-usertitle-name">
                            {{userData.lastName}}
                            <div class="profile-usertitle-name">
                                {{userData.email}}
                                <div class="profile-usertitle-job">
                                    {{userData.mobileNr}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-userbuttons">
                    </div>
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Admin</div>
                        <a class="nav-link" href="http://localhost:8888/User">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="http://localhost:8888/User/Checkout/{{userData.userId}}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Cart
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    {{userData.email}}
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Userprofile</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Userprofile</li>
                </ol>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar mr-1"></i>
                                User orders
                            </div>
                            <div class="card-body">
                                <canvas id="myBarChart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area mr-1"></i>
                                User spending
                            </div>
                            <div class="card-body">
                                <canvas id="myAreaChart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Orders
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>OrderID</th>
                                    <th class="hide">UserId</th>
                                    <th class="hide">sessionId</th>
                                    <th>Status</th>
                                    <th class="hide">subTotal</th>
                                    <th class="hide">itemDiscount</th>
                                    <th class="hide">tax</th>
                                    <th class="hide">shipping</th>
                                    <th class="hide">total</th>
                                    <th class="hide">promo</th>
                                    <th class="hide">discount</th>
                                    <th>Grandtotal</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th class="hide">mobile</th>
                                    <th>Email</th>
                                    <th class="hide">address</th>
                                    <th class="hide">city</th>
                                    <th>Date</th>
                                    <th class="hide">content</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>OrderID</th>
                                    <th class="hide">UserId</th>
                                    <th class="hide">sessionId</th>
                                    <th>Status</th>
                                    <th class="hide">subTotal</th>
                                    <th class="hide">itemDiscount</th>
                                    <th class="hide">tax</th>
                                    <th class="hide">shipping</th>
                                    <th class="hide">total</th>
                                    <th class="hide">promo</th>
                                    <th class="hide">discount</th>
                                    <th>Grandtotal</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th class="hide">mobile</th>
                                    <th>Email</th>
                                    <th class="hide">address</th>
                                    <th class="hide">city</th>
                                    <th>Date</th>
                                    <th class="hide">content</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {{#userOrders}}
                                <tr>
                                    <td>{{orderId}}</td>
                                    <td class="hide">{{userId}}</td>
                                    <td class="hide">{{sessionId}}</td>
                                    <td>{{status}}</td>
                                    <td class="hide">{{subTotal}}</td>
                                    <td class="hide">{{itemDiscount}}</td>
                                    <td class="hide">{{tax}}</td>
                                    <td class="hide">{{shipping}}</td>
                                    <td class="hide">{{total}}</td>
                                    <td class="hide">{{promo}}</td>
                                    <td class="hide">{{discount}}</td>
                                    <td>{{grandTotal}}</td>
                                    <td>{{firstName}}</td>
                                    <td>{{lastName}}</td>
                                    <td class="hide">{{mobile}}</td>
                                    <td>{{email}}</td>
                                    <td class="hide">{{address}}</td>
                                    <td class="hide">{{city}}</td>
                                    <td>{{createdAt}}</td>
                                    <td class="hide">{{content}}</td>
                                </tr>
                                {{/userOrders}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Products
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableProducts" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ProductID</th>
                                    <th>UserID</th>
                                    <th>Title</th>
                                    <th class="hide">summary
                                    </td>
                                    <th class="hide">type
                                    </td>
                                    <th>Price</th>
                                    <th class="hide">discount
                                    </td>
                                    <th>Date</th>
                                    <th class="hide">content
                                    </td>
                                    <th>ProductURL</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ProductID</th>
                                    <th>UserID</th>
                                    <th>Title</th>
                                    <th class="hide">summary
                                    </td>
                                    <th class="hide">type
                                    </td>
                                    <th>Price</th>
                                    <th class="hide">discount
                                    </td>
                                    <th>Date</th>
                                    <th class="hide">content
                                    </td>
                                    <th>ProductURL</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {{#userProducts}}
                                <tr>
                                    <td>{{productId}}</td>
                                    <td>{{userId}}</td>
                                    <td>{{title}}</td>
                                    <td class="hide">{{summary}}</td>
                                    <td class="hide">{{type}}</td>
                                    <td>{{price}}</td>
                                    <td class="hide">{{discount}}</td>
                                    <td>{{publishedAt}}</td>
                                    <td class="hide">{{content}}</td>
                                    <td>{{productUrl}}</td>
                                </tr>
                                {{/userProducts}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Reviews
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableReview" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="hide">reviewId</th>
                                    <th>productId</th>
                                    <th>title</th>
                                    <th>rating</th>
                                    <th>createdAt</th>
                                    <th>content</th>
                                    <th>userId</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th class="hide">reviewId</th>
                                    <th>productId</th>
                                    <th>title</th>
                                    <th>rating</th>
                                    <th>createdAt</th>
                                    <th>content</th>
                                    <th>userId</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {{#allReviews}}
                                <tr>
                                    <td class="hide">{{reviewId}}</td>
                                    <td>{{productId}}</td>
                                    <td>{{title}}</td>
                                    <td>{{rating}}</td>
                                    <td>{{createdAt}}</td>
                                    <td>{{content}}</td>
                                    <td>{{userId}}</td>
                                </tr>
                                {{/allReviews}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="/js/Admin/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/Admin/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/js/Admin/chart-area-demo.js"></script>
<script src="/js/Admin/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/js/Admin/datatables-demo.js"></script>
<script>
    $(document).ready(function() {
        $('#dataTableReview').DataTable();
    });
    $(document).ready(function() {
        $('#dataTableProducts').DataTable();
    });
</script>
</body>
</html>
