
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap 4 Carousel with Multiple Items</title>
    <!-- CSS -->
    <link href="/css/User/userstyles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Main/animate.css">
    <link rel="stylesheet" href="/css/Main/media-queries.css">
    <style>
        .card-body-prod {
            padding: 0;
        }

        .hero--video {
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            min-height: 600px;
        }

        .navbar-fixed-top {
            top: -70px;
            opacity: 0;
        }

        .hero-image {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 600px;
            margin: 0 auto;
            right: 0;
            left: 0;
            -o-object-fit: cover;
            object-fit: cover;
        }

        .hero .search {
            position: relative;
            vertical-align: middle;
            z-index: 2;
        }

        .hero .search input {
            width: 100%;
            height: 76px;
            line-height: 76px;
            border: 1px solid #111;
            background: rgba(0, 0, 0, 0.8);
            font-size: 27px;
            padding: 5px 5px 5px 47px;
            color: #fff;
            position: relative;
            border-radius: 0;
        }

        .hero .search button {
            position: absolute;
            top: 6px;
            right: 6px;
            color: #fff;
            background: #88687b;
            font-size: 27px;
            height: 65px;
            line-height: 65px;
            width: 68px;
            padding: 0;
            border: 0;
        }

        footer {
            text-align: center;
            background-color: #000;
            color: #000;
            position: fixed;
            padding: 0;
            bottom: 0;
            width: 100%;
            height: 30px;

        }

        .social {
            padding-bottom: 15px;

        }

        

        .content {
            width: 94%;
            margin: 4em auto;
            font-size: 20px;
            line-height: 30px;
            text-align: justify;
        }

        .logo {
            line-height: 60px;
            position: fixed;
            float: left;
            margin: 16px 46px;
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 2px;
        }

        .userMenu {
            line-height: 60px;
            position: fixed;
            float: right;
            margin: 16px 46px;
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 2px;
        }

        nav {
            position: fixed;
            width: 100%;
            line-height: 60px;
            z-index: 3;
        }

        nav ul {
            line-height: 60px;
            list-style: none;
            background: rgba(0, 0, 0, 0);
            color: #fff;
            padding: 0;
            text-align: right;
            margin: 0;
            padding-right: 40px;
            transition: 1s;
        }

        nav.black ul {
            background: #000;
        }

        nav ul li {
            display: inline-block;
            padding: 16px 40px;;
        }

        nav ul li a {
            text-decoration: none;
            color: #fff;
            font-size: 16px;
        }

        .menu-icon {
            line-height: 60px;
            width: 100%;
            background: #000;
            text-align: right;
            box-sizing: border-box;
            padding: 15px 24px;
            cursor: pointer;
            color: #fff;
            display: none;
        }

        .user2 {
            display: none;
        }

        .card-columns {
            column-count: 4;
        }

        @media (max-width: 786px) {
            header {
                width: 100%;
                height: 60vh;
                background: url(/img/hero.png) no-repeat 50% 50%;
                background-size: cover;
            }

            #user1 {
                display: none;
            }

            .user2 {
                display: inline-block;
            }

            .logo {
                position: fixed;
                top: 0;
                margin-top: 16px;
            }

            nav ul {
                max-height: 0px;
                background: #000;
            }

            nav {
                overflow: hidden;
            }

            nav.black ul {
                background: #000;
            }

            .showing {
                max-height: 34em;
                overflow: visible;
            }

            nav ul li {
                box-sizing: border-box;
                width: 100%;
                padding: 5px;
                text-align: center;
            }

            .menu-icon {
                display: block;
            }

            .card-columns {
                column-count: 1;
            }

        }

.truncateLongTexts {
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        a{
            color:white;
        }
    </style>


</head>
<body>
<!-- Top menu -->

    <nav style="background-color:black;">
        <div class="menu-icon">

            <div>

            </div>

            <i class="fa fa-bars fa-2x"></i>


        </div>

        <div class="logo">
            <a href="http://localhost:8888/Index/"><img style="float: left; margin-right: 1%;" src="/img/pikto.png"
                                                        width="100"/></a>
        </div>


        <div class="menu">
            <ul>
                <li><a href="http://localhost:8888/Index/Category/1">Backgrounds</a></li>
                <li><a href="http://localhost:8888/Index/Category/2">Stockphotos</a></li>
                <li><a href="http://localhost:8888/Index/Category/3">Posters</a></li>

             
            </ul>
        </div>
    </nav>
 

<div class="container" style="max-width:90%; padding-top:3%; ">
  
                <div class="container" style="padding-top: 5%">

                    <div class="row">
                        <div class="col-md-4 order-md-2 mb-4">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-muted">Your cart</span>
                                <span class="badge badge-secondary badge-pill">{{itemCounter}}</span>
                            </h4>
                            <ul class="list-group mb-3">
                                {{#userCart}}
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <small class="text-muted">
                                        <img src="{{productUrl}}" style="object-fit:cover; width:90px; height:60px;">
                                    </small>
                                    <div>
                                        <h6 class="my-0 truncateLongTexts">{{title}}</h6>
                                        <small class="text-muted">Price: {{price}}</small>
                                        <small class="text-muted">Quantity: {{quantity}}</small>
                                    </div>
                                    <div>
                                        <h6 class="my-0 truncateLongTexts">
                                            <a href="http://localhost:8888/Index/Checkout/Remove/{{cartItemId}}"
                                               type="button"
                                               class="card-link-secondary small text-uppercase mr-3"><i
                                                    class="fas fa-trash-alt mr-1" style="color: #007bff !important;"></i></a>
                                        </h6>
                                    </div>
                                    <div>
                                        <h6 class="my-0 truncateLongTexts"></h6>
                                    </div>
                                </li>
                                {{/userCart}}
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div class="mb-3">
                                        <div class="pt-4">

                                            <h5 class="mb-3">The total amount of</h5>

                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                                     Gross price <span>{{orderData.subTotal}}</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                                    VAT
                                                    <span>{{orderData.tax}}</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                                    Shipping
                                                    <span>{{orderData.shipping}}</span>
                                                <li class="list-group-item d-flex justify-content-between align-items-center px-0 text-danger">
                                                    Discount
                                                    <span>{{orderData.itemDiscount}}</span>
                                                </li>
                                                <li id="promotion"
                                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 text-danger">

                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                                    <div>
                                                        <strong>Total</strong>
                                                      
                                                    </div>
                                                    <span><strong id="grandTotal">{{orderData.total}}</strong></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <form class="card p-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Promo code" id="promoId">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary" onclick="promoValidation()">
                                            Redeem
                                        </button>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <p id="redeemvalidation"></p>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8 order-md-1">
                            <h4 class="mb-3">Billing address</h4>
                            <form class="needs-validation" novalidate method="POST" action="/Index/createOrder">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="firstName">First name</label>
                                        <input type="text" class="form-control" id="firstName" placeholder="" value="{{userData.firstName}}" name="firstName"
                                               required>
                                        <div class="invalid-feedback">
                                            Valid first name is required.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="lastName">Last name</label>
                                        <input type="text" class="form-control" id="lastName" placeholder="" value="{{userData.lastName}}" name="lastName"
                                               required>
                                        <div class="invalid-feedback">
                                            Valid last name is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3" hidden>
                                    <label for="username">Username</label>
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">@</span>
                                        </div>
                                        <input type="number" class="form-control" id="username" placeholder="Username"
                                               required value="{{userData.userId}}" name="userId">
                                        <div class="invalid-feedback" style="width: 100%;">
                                            Your username is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                                    <input type="email" class="form-control" id="email" placeholder="you@example.com" value="{{userData.email}}" name="email">
                                    <div class="invalid-feedback">
                                        Please enter a valid email address for shipping updates.
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address" placeholder="1234 Main St"
                                           required name="address">
                                    <div class="invalid-feedback">
                                        Please enter your shipping address.
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                                    <input type="text" class="form-control" id="address2"
                                           placeholder="Apartment or suite">
                                </div>

                                <div class="row">
                                    <div class="col-md-5 mb-3">
                                        <label for="country">Country</label>
                                        <select class="custom-select d-block w-100" id="country" name="country" required>
                                            <option value="">Choose...</option>
                                            <option>Sweden</option>
                                            <option>Norway</option>
                                            <option>Denmark</option>
                                            <option>Finland</option>
                                            <option>Germany</option>
                                            <option>United States</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid country.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" id="City" name="city"
                                               placeholder="Stad">
                                        <div class="invalid-feedback">
                                            Please provide a valid city.
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="zip">Zip</label>
                                        <input type="text" class="form-control" id="zip" placeholder="" required name="zip">
                                        <div class="invalid-feedback">
                                            Zip code required.
                                        </div>
                                    </div>
                                </div>
                                <hr class="mb-4">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="same-address">
                                    <label class="custom-control-label" for="same-address">Shipping address is the same
                                        as my billing address</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="save-info">
                                    <label class="custom-control-label" for="save-info">Save this information for next
                                        time</label>
                                </div>
                                <hr class="mb-4">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout
                                </button>
                                <hr class="mb-4">
                            </form>
                        </div>
                    </div>
                </div>
</div>


<!-- Footer -->

<footer class="footer">

    <div class="social">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
    </div>
</footer>
<!-- Javascript -->
<script src="/js/Main/jquery-3.3.1.min.js"></script>
<script src="/js/Main/jquery-migrate-3.0.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="/js/Main/jquery.backstretch.min.js"></script>
<script src="/js/Main/wow.min.js"></script>
<script src="/js/Main/scripts.js"></script>
<script>
    $(document).ready(function () {
        $(".menu-icon").on("click", function () {
            $("nav ul").toggleClass("showing");
        });
 




  $("#searchValue").on("keyup", function() {


    var clickedBtnID = $(this).val();
        cardContainer = document.getElementById("MyCards");
        cards = cardContainer.getElementsByClassName("card");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-body h5.card-title");
            if (title.innerText.indexOf(clickedBtnID) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    });
 });
    // Scrolling Effect

    $(window).on("scroll", function () {
        if ($(window).scrollTop()) {
            $('nav').addClass('black');
        }

        else {
            $('nav').removeClass('black');
        }
    });

    function myFunction() {
        var text = document.getElementById("searchValue").value;
        var concat = "http://localhost:8888/Index/Search/" + text;
        window.location.replace(concat);

    }


    var loggedin = $("#login").attr("class");
    console.log(loggedin);

    if (loggedin === "loggedintrue") {
        $("#login").css("display", "none");
        $("#true").css("display", "inline-block");
        $("#loggedintrue").css("display", "inline-block");
        $("#loggedinfalse").css("display", "none");


    }

    


</script>


</body>
</html>