<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title></title>
</head>
<body>
    {{#allProducts}}
        <div><h2>{{userId}}, {{price}} {{productId}},{{summary}}, {{publishedAt}}</h2></div>
    {{/allProducts}}
</body>
</html>